.hero {
  background-color: transparent;
  color: #fff;
  padding-bottom: 50px;
  padding-top: 80px;
  .container_hero {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    max-width: 1220px;
    z-index: 4;
    overflow: hidden;
    @media (max-width: 1250px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: 650px) {
      padding: 0px;
    }
  }
  .video {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 0;
    width: 150%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  #bokeh {
    @media screen and (max-width: 650px) {
      max-width: auto !important;
    }
  }
  .hero_logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 93px;
    @media screen and (max-width: 650px) {
      margin-bottom: 30px;
      padding-top: 50px;
    }
  }
  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
    @media (max-width: 650px) {
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 30px;
    }
  }
  .tasks_hr4 {
    width: 0;
    height: 1px;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    opacity: 0.1;
    margin: 40px 0px;
    @media (max-width: 650px) {
      display: none;
    }
  }
  .hero_skils {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: 300;
    @media (max-width: 650px) {
      margin-bottom: 60px;
      width: 105%;
      overflow: auto;
      white-space: nowrap;
    }
  }
  .hero_skils__wrapper {
    display: flex;
    @media (max-width: 650px) {
      display: block;
      font-size: 0;
      width: 100%;
      overflow: scroll;
    }
  }
  @media (max-width: 650px) {
    .hero_skils__wrapper::-webkit-scrollbar {
      height: 0;
    }
  }
  .hero_skils__item {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 900px) {
      font-size: 18px;
      line-height: 25px;
    }
    @media (max-width: 750px) {
      font-size: 16px;
      line-height: 25px;
      margin: 0 10px;
    }
    @media (max-width: 650px) {
      display: inline-block;
      font-size: 18px;
      line-height: 25px;
      white-space: nowrap;
    }
  }
  .hero_img_block {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fde706;
    height: 720px;
    @media (min-width: 650px) and (max-width: 1024px) {
      height: 450px !important;
      .visible-sm {
        display: block;
        max-width: 100%;
      }
    }
    @media (min-width: 100px) and (max-width: 650px) {
      height: 330px !important;
      height: auto !important;
      margin: 0 20px;
    }
  }

  .img1,
  .img2,
  .img3 {
    height: 200%;
    width: 100%;
    transform: rotate(-45deg) scale(1) translate3d(10px, -10px, 0px);
    display: flex;
    align-items: center;
    @media (min-width: 650px) and (max-width: 1024px) {
      height: 100%;
      transform: rotate(-45deg) scale(1) translate3d(-60px, 60px, 0px);
    }
    @media (min-width: 100px) and (max-width: 650px) {
      height: 100%;
      transform: rotate(-45deg) scale(1.7) translate3d(-20px, 20px, 0px);
    }
    img {
      width: 100%;
    }
  }

  #hero-part1 {
    width: 437px;
    position: absolute;
    left: 220px;
    top: -100px;
    transform: rotate(-38deg);
    border-radius: 10px;
  }
  #hero-part2 {
    width: 461px;
    position: absolute;
    left: 5px;
    bottom: -442px;
    transform: rotate(-38.71deg);
    border-radius: 10px;
  }
  #hero-part3 {
    width: 454px;
    position: absolute;
    left: 575px;
    bottom: -170px;
    transform: rotate(-38.71deg);
    border-radius: 10px;
  }
  #hero-part4 {
    width: 476px;
    position: absolute;
    right: -214px;
    top: -114px;
    transform: rotate(-38.71deg);
    border-radius: 10px;
  }
  @media (max-width: 650px) {
    padding-bottom: 30px;
    .hero_img img {
      height: 420px;
    }
  }
  .mask {
    position: absolute;
    content: "";
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-size: 10% 10%;
    background-repeat: no-repeat;
    transform: rotate(-38deg);
    transition: all 0.3s ease-in-out;
  }
  .mask::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 90px;
    left: 0px;
    top: 0px;
  }
  .heroRotate {
    transform: rotate(0deg);
  }
  @media (max-width: 650px) {
    ::-webkit-scrollbar-track {
      background: #222;
    }
  }
}
