.recipes {
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 20px;
  @media screen and (max-width: 650px) {
    padding-bottom: 60px;
  }
  @media screen and (max-width: 650px) {
    .container {
      padding: 0 10px;
    }
  }
  .recipes_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media screen and (max-width: 650px) {
      display: block;
    }
  }
  .recipes_left {
    position: relative;
    z-index: 4;
    background: #333333;
    border-radius: 12px;
    padding: 70px 0px;
    width: 48%;
    border-radius: 12px;
    overflow: hidden;
    max-width: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 610px;
    margin-bottom: 70px;

    @media screen and (max-width: 1250px) {
      max-height: 470px;
    }
    @media screen and (max-width: 650px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  img {
    max-width: 420px;
    max-height: 344px;
    transition: all 0.18s ease-out;
  }
  .activeZoom {
    transform: scale(1.2);
  }
}
.recipes_right {
  margin-top: 70px;
  position: relative;
  z-index: 4;
  background: #333333;
  border-radius: 12px;
  padding: 0px;
  border-radius: 12px;
  overflow: hidden;
  width: 48%;
  max-height: 515px;

  @media screen and (max-width: 900px) {
    margin-top: 0px;
  }
  @media screen and (max-width: 650px) {
    width: 100%;
  }
  .recipes_right__wrapper {
    display: flex;
    justify-content: center;
    max-height: 441px;
    padding: 70px 0;
  }
  .img1 {
    transition: all 1s ease;
    height: 865px;
    width: 40%;
    max-width: 40%;
    max-height: 570px;
    transform: translateY(-200px);
    @media screen and (max-width: 650px) {
      width: 216px;
    }
  }
  .img2 {
    transition: all 1s ease;
    height: 865px;
    width: 40%;
    max-width: 40%;
    max-height: 570px;
    transform: translateY(200px);
    @media screen and (max-width: 650px) {
      width: 216px;
    }
  }
  .activBias {
    img:nth-child(1) {
      transform: translateY(-200px);
    }
    img:nth-child(2) {
      transform: translateY(200px);
    }
  }
}
