.show_case {
  position: fixed;
  background-color: #222222;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding-top: 1px;
  z-index: 0;
  background-image: url("/src/img/show_case.jpg");
  background-position-y: 100%;
  .container_show_case {
    background-color: #222222;
  }
  .show_case::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: transparent;
  }
  .info {
    position: absolute;
    top: 37%;
    left: 210px;
  }
  .show_case__title {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .show_case__btn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 20px 60px;
    background-color: #fff;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    font-family: "Gotham Pro", "Helvetica", "Arial", Helvetica, Arial, serif;
    font-weight: 500;
  }
}

@media (min-width: 850px) and (max-width: 950px) {
  .show_case .show_case__title {
    font-size: 36px;
    line-height: 100%;
  }
  .show_case .info {
    position: absolute;
    top: 27%;
    left: 100px;
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  .show_case .show_case__btn {
    padding: 15px 40px;
  }
  .show_case .info {
    position: absolute;
    top: 25%;
    left: 108px;
  }
}

@media (min-width: 0px) and (max-width: 650px) {
  .show_case {
    height: 100vh;
    background-image: url("/src/img/show_case.jpg");
    background-repeat: no-repeat;
    background-position-x: -120px;
  }
  .show_case .info {
    position: absolute;
    top: 16%;
    left: 50% !important;
    transform: translateX(-50%);
    width: 100%;
  }
  .show_case .show_case__title {
    font-size: 28px;
    width: 181px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .show_case .show_case__btn {
    padding: 15px 30px;
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .show_case_bg {
    height: 350px;
    width: 100%;
  }
  .show_case_bg {
    display: none;
  }
  .show_case .info {
    top: 30vh;
    left: 40px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }
}
